<style>
  .custom-card {
    border: 1px solid green; /* Green border */
    background-color: transparent; /* Transparent background */
  }

  /* CSS for smaller screens */
  @media (max-width: 576px) {
    .smaller-card .card-title {
        font-size: 1rem;
    }
    .smaller-card .card-text {
        font-size: 0.8rem;
    }
    .smaller-card .btn {
        padding: 0.5rem 1rem;
    }
  }

  /* Add these styles to your CSS */
  .row.g-5 {
    display: flex;
    flex-wrap: wrap;
  }

  .col-12.col-xl-4 {
    display: flex;
    flex-direction: column;
  }

  .card {
    flex: 1 1 auto; 
    display: flex;
    flex-direction: column;
  }

  .card-body {
    flex-grow: 1;
  }

  img {
    width: 100%;
    height: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  img {
    max-width: 22.22%; /* (128 / 576) * 100 */
    max-height: 22.22%; /* (128 / 576) * 100 */
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  img {
    max-width: 16.28%; /* (125 / 768) * 100 */
    max-height: 60.06%; /* (300 / 768) * 100 */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1024px) { 
  img {
    max-width: 60.33%; /* (1013 / 992) * 100 */
    max-height: 60.12%; /* (1011 / 992) * 100 */
  }
}




</style>


<section class="section services py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 w-100">
        {{ with .content.title }}
        <h3 class="fs-1 fw-bold text-center text-primary pb-3 w-100">{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center pb-3">{{ . | markdownify }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row g-5">
      {{ range .content.cards }}
      <div class="col-12 col-xl-4">
          <div class="card bg-pastel-green-16 border-radius-34 p-4 custom-card smaller-card"> <!-- Add smaller-card class here -->
              {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
              <div class="card-body text-center">
                  {{ with .title }}<h4 class="card-title text-start text-primary pb-4">{{ . }}</h4>{{ end }}
                  {{ with .text }}<p class="card-text text-black-61 pb-4">{{ . }}</p>{{ end }}
                  {{ with .button }}<a class="btn btn-outline-primary px-4 w-auto mx-auto d-block" href="{{ .url }}">{{ .label }}</a>{{ end }}
              </div>
          </div>
      </div>
      {{ end }}
</section>


<section class="section hero py-5">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-12 d-flex flex-column justify-content-center hero-image h-50 position-relative">
        <div class="rounded-image-wrapper top-image h-100">
          {{ partial "utilities/image-fluid" "images/read_more_hero_2.jpg" }}
        </div>
</section>


