<style>
  .custom-card {
    border: 1px solid green; /* Green border */
    background-color: transparent; /* Transparent background */
    /* transform: scale(1); Half the size */
  }

  @media (max-width: 768px) {
    .btn {
      font-size: 0.8rem;
    }
  }

  .smaller-card {
    padding: 2rem;
  }
  
  .smaller-card .card-title, .smaller-card .card-text {
    font-size: 0.8rem;
  }

  .smaller-card .btn {
    padding: 0.2rem 0.4rem;
    font-size: 0.7rem;
  }

</style>

<section class="section services py-5">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-12 col-xl-6 w-100">
        {{ with .content.title }}
        <h3 class="fs-1 fw-bold text-center text-primary pb-3 w-100">{{ . | markdownify }}</h3>
        {{ end }}
        {{ with .content.text }}
          <p class="text-black-61 text-center pb-3">{{ . | markdownify }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row g-5">
      {{ range .content.cards }}
        <div class="col-12 col-xl-4">
          <div class="card bg-pastel-green-16 border-radius-34 p-4 custom-card">
            {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
            <div class="card-body text-center">
              {{ with .title }}<h4 class="card-title text-center text-primary pb-4">{{ . }}</h4>{{ end }}
              {{ with .text }}<p class="card-text text-black-61 pb-4">{{ . }}</p>{{ end }}
              {{ with .button }}<a class="btn btn-outline-primary px-4 w-auto mx-auto d-block" href="{{ .url }}">{{ .label }}</a>{{ end }}
            </div>
          </div>
        </div>
      {{ end }}
</section>


<section class="section hero py-5">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-12 d-flex flex-column justify-content-center hero-image h-50 position-relative">
        <div class="rounded-image-wrapper top-image h-100">
          {{ partial "utilities/image-fluid" "images/read_more_hero.png" }}
        </div>
</section>


